
@{
    ViewBag.Title = "GiveReq";
    Layout = "~/Views/Shared/_RestaurantLayout.cshtml";
}

<h2>GiveReq</h2>


<div class="form-horizontal">
    <h4>Collection Request</h4>
</div>
<form action="" method="post">
    
</form>