@{
    ViewBag.Title = "Home Page";
}

<main class="text-center fw-bold">
    <p>ZERO Hunger</p>
    <p>Midterm Assignment</p> 
    <p>Advanced Programming with Asp.net</p>
    <p>Name:Sadman Sakib</p> 
    <p>ID:20-43159-1</p>
    <p>Section:B</p>
</main>